<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../static/fevicon.jpg">

    <title>Blood Bank</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('donors')}}">Donate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('about')}}">About</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Information
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('importance')}}">Importance</a></li>
                  <li><a class="dropdown-item" href="{{url_for('benefits')}}">Benefits</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="d-flex" method="POST" action="{{url_for('getdata')}}">
              <input class="form-control me-2" type="search" placeholder="Search" name="id" id="id"aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
        <br>
        <br>
        
        <div class="container">
          <div>
            <h1>Registration Form</h1>
          </div>
          <br>
          <br>
        <form action="{{url_for('create')}}" method="POST" >
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" name="name" id="name" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" name="surname" id="surname" aria-label="Last name">
          </div>
        </div>
        <br>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label"></label>
          <input type="text" class="form-control" name="bgroup" id="bgroup" placeholder="Blood_group">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"></label>
          <input type="text" class="form-control" name="address" id="address" placeholder="Address">
        </div>
        <br>
        <div class="row">
          <div class="col">
            <input type="number" class="form-control" placeholder="Age" name="age" id="age" aria-label="Age">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="Weight" name="weight" id="weight" aria-label="Weight">
          </div>
          <br>
          <br>
          <br>
          <div>
          <button type="submit" class="btn btn-dark" >Submit</button>
        </div>
        </div>
      </form>
    </div>
      <br>
      <br>
      <div class="container">
      <div>
        <h1>Registerd Donars</h1>
      </div>
      <br>
      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">SNo</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Address</th>
                <th scope="col">Age</th>
                <th scope="col">Weight</th>
                <th colspan="2" scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
      
            {% for i in data %}  
              <tr>
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{i[1]}}</td>
			              <td>{{i[2]}}</td>
			              <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[6]}}</td>
                    <td>
                      <a href="{{url_for('edit',did=i[0])}}" class="btn btn-outline-success btn-sm mx-1">Edit</a>
                      <a href="{{url_for('delete',did=i[0])}}" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                    </td>
                </tr>
            {% endfor %}
             
    
            </tbody>
          </table>
      </div>
    </div>
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>Tears of a mother cannot save her Child. But your Blood can.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
            <cite title="Source Title">Google.com</cite>
            </figcaption>
          </figure>
        <div class="d-flex justify-content-between py-4 my-4 border-top">
          <p>&copy; 2022 Company, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
    
    
        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      <div>
        <!-- <div class="text-center"> -->
            <!-- <img src="https://s3.envato.com/files/173489632/02_preview040.PNG" class="rounded" alt="..."> -->
          <!-- </div> -->
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>